.Titlebar{
    text-align: left;
    height: 3em;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0.5em 2em;
    border-style:solid;
    border-width: 5px;
    border-color: black;
    border-bottom-color: rgb(30, 180, 206);
}

.Titlebar-title {
    padding-left: 1em;
    height: 1em;
    font-size: 2em;
    font-family: bold;
    color:  #e0e0e0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.Titlebar-logo {
    height: 100%;

}